.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.title {
  font: var(--subhead-interface);
  color: var(--color-gray-500);
  box-sizing: border-box;
}

.error {
  color: var(--color-red) !important;
}

.errorText {
  font: var(--inter-12-300);
}

.errorBlock {
  padding-bottom: 16px;
}

.textContainer {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-gray-250);
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
}

.iconBody {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 8px;
  justify-content: flex-start;
}

.textContainer textarea{
  border: none;
  resize: none;
  width: 100%;
  background-color: transparent;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
  field-sizing: content;
  padding-top: 2px;
  font: var(--body-text-platform);
  color: var(--color-gray-900);

  &::-webkit-scrollbar{
    width: 0;
  }
}

.textContainer textarea:focus{
  outline: none;
  border-radius: 4px;
}

.value{
  font: var(--inter-12-400);
  color: var(--color-gray-400);
  text-align: end;
  padding-right: 8px;
}

.subtitle {
  text-align: left;
  width: 100%;
  font: var(--label-interface);
  color: var(--color-gray-500)
}

.inputTextContainer {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid var(--color-gray-250);
  gap: 6px;
  background-color: white;
}

.smallInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 6px 8px 8px;
  flex-grow: 1;
  justify-content: flex-start;
}

.inputTextContainer input {
  padding-top: 2px;
  font:var(--body-text-platform);
  color: var(--color-gray-900);
  border: none;
  outline: none;
  flex-grow: 1;
  overflow-x: initial;
}

.inputValue .textContainer.error  {
  color: var(--color-red)
}

.inputValue {
  display: flex;
  width: 64px;
  justify-content: flex-end;
  align-items: flex-end;

  font: var(--inter-12-300);
  color: var(--color-gray-400);
  padding-right: 8px;
}

.textContainer.error {
  border-color: var(--color-red);
}

.inputTextContainer.error {
  border-color: var(--color-red);
}