.projectsHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  user-select: none;
}

.topPart {
  width: 100%;
}

.titleBlock {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.title {
  font: var(--hero-title-platform)
}

.subTitle {
  font: var(--caption-platform);
  color: var(--color-gray-350)
}

.topPart {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navPart {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
}

.navEl {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  font: var(--inter-12-400);
  color: var(--color-gray-600);

}

.navEl input[type="checkbox"] {
  position: absolute;
  top: 2px;
  left: -32px;
  box-sizing: content-box;
  width: 26px;
  height: 12px;
  border: 1px solid;
  border-radius: 36.64px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.navEl input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #323541;
  transition: 0.2s;
  transform: translateX(1px);
}

.navEl input[type="checkbox"]:checked::before {
  transform: translateX(150%);
}


.sortTrigger {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.popup {
  margin-top: 8px;
}

.sortTrigger > button {
  transition: all .2s;
}

.opened {
  transform: rotate(180deg);

}

.backIcon {
  transform: rotate(-90deg);

  max-height: 11px;

}

.tab {
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  white-space: nowrap;
}

.sepLine {
  width: 100%;
}

.gap {
  width: 24px;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}