.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(46 48 56 / 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.content {
  background: var(--color-white);
  border-radius: 20px;
  padding: 24px;
  width: 100%;
  max-width: 635px;
  box-shadow: var(--tooltop-shadow);
  display: flex;
  flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

.transparentContent {
  background: transparent;
  padding: 0;
  box-shadow: none;
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7px;
}

.title {
  font: var(--field-title-big-interface);
  color: var(--color-brand-black);
}

.subtitle {
  font: var(--body-text-platform);
  color: var(--color-gray-600);
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*gap: 16px;*/
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  gap: 12px;
}