.avatarContainer {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #84CEF6;
  border-radius: 50%;

  border: 1px solid transparent;
  background-image:
    linear-gradient(#84cef6, #84cef6),
    var(--grad-brand);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  cursor: pointer;
}

.avatar, .userIcon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}

.status {
  position: absolute;
  padding: 1px 5px 3px 5px;
  font: var(--ALS-9-400);
  background-color: var(--color-brand-green);
  border-radius: 28px;
  bottom: -2px;
  right: -2px;
  color: var(--color-gray-900);
}