.wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;

	& .title {
		font: var(--field-title-big-interface);
		color: black;
	}
}

.block {
	display: flex;
	flex-direction: column;
	gap: 8px;

	& .heading {
		font: var(--subhead-interface);
		color: var(--color-gray-650);
	}

	& .label {
		font: var(--OS-14-400);
		color: var(--color-gray-750);
	}
}

.container {
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.datesAndResources {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    & .heading {
      font: var(--subhead-interface);
      color: var(--color-gray-650);
    }

    & .checkpoints {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
}