.list {
	--tabColor: var(--color-gray-400);
	--activeTabColor: var(--color-brand-green);
	--errorTabColor: var(--color-red);

  display: flex;
  align-items: center;
  gap: 20px;
}

.item {
  position: relative;
	
  display: flex;
  align-items: center;
  gap: 6px;
  
	font: var(--ALS-16-400);
  color: var(--tabColor);
  border-bottom: 2px solid transparent;
  
	padding-bottom: 12px;
	cursor: pointer;

  &.active {
    color: var(--activeTabColor);
    border-bottom: 2px solid var(--activeTabColor);

    &.error {
      border-bottom-color: var(--errorTabColor);
    }
  }

  &.error {
    color: var(--errorTabColor);
  }
}