.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background-color: var(--color-gray-900);
  border-radius: 20px;

  position: relative;
}

.container h3 {
  font: var(--section-title-interface);
  color: white;
}

.body {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;


}

.body > p {
  width: 100%;
  font: var(--body-small-platform);
  color: var(--color-gray-500);
  padding-right: 24px;
}

.body label{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 12px 12px 16px;
  background-color: white;
  border: 1px solid white;
  border-radius: 16px;
  height: fit-content;
}

.validContainer{
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
}

.input {
  font: var(--body-small-platform);
  color: var(--color-gray-500);

  outline: none;

  width: 100%;
  border: none;

  background-color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 16px;
}

.buttonContainer {
  display: flex;
  gap: 12px
}

.cancelButton {
  color: var(--color-gray-500);
  font: var(--inter-11-600);
}

.saveButton {
  padding: 8px 12px 9px 12px;
  background-color: var(--color-brand-green);
  border-radius: 8px;

  font: var(--inter-11-600);
  color: white;
  display: flex;
  gap: 4px;
  align-items: center;
}

.saveButton p {
  text-decoration: none ;
}

.backIcon {
  fill: white;
  transform: rotateY(180deg);
  height: 9px;
}

.errorText {
  color: var(--color-red);
  font: var(--inter-12-400);
}

.errorState {
  border-color: var(--color-red) !important;
}

.image {
  width: 410px;
  height: calc(100% - 11px * 2);

  position: absolute;
  top: 11px;
  right: 11px;

  border-radius: 16px;

  object-fit: cover;
  object-position: center;

}

@media (max-width: 768px) {
  .body label {
    max-width: 100%;
  }

  .input {
    overflow: hidden;
    padding-right: 24px;
  }
}