.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font: var(--field-title-small-interface);
  color: var(--color-gray-500);
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--color-gray-50);
  border: 1px solid transparent;
  padding: 24px;
  border-radius: 24px;
}

.item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.inputWrapper {
  flex: 1;
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.removeButton {
  height: 100%;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-gray-400);
  cursor: pointer;
}

.removeButton:hover {
  color: var(--color-red);
  transition: color 0.2s ease-in;
}

.errorText {
  padding-top: 8px;
  font: var(--inter-12-400);
  color: var(--color-red, #e53e3e);
}
