.body {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 8px;
}

.titleSegment {
  font: var(--field-title-small-interface);
  color: var(--color-gray-500);
}

.segment {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 24px;

  background-color: var(--color-gray-50);
}

.headerRow {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.ageColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  margin: 16px 10px 0 0;
  padding-left: 16px;
}

.ageLabel {
  font: var(--label-interface);
  color: var(--color-gray-500);
  text-align: right;
}

.ageInputRow {
  display: flex;
  gap: 6px;
  align-items: center;

}

.ageInput {
  background-color: white;
  border: 1px solid var(--color-gray-250);
  border-radius: 8px;
  padding: 4px 10px 5px 10px;
  font: var(--OS-16-400);
  color: var(--color-brand-black);
  width: 60px;
  display: flex;
  justify-content: center;
}

.ageLabelInner {
  font: var(--OS-16-400);
  color: var(--color-brand-black);
}

.addButton {
  display: flex;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-brand-green);
  color: var(--color-brand-green);
  width: fit-content;
  align-items: center;
  font: var(--inter-12-300);
  fill: var(--color-brand-green);
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.removeButton {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--color-gray-400);
  font: var(--inter-12-300)
}

.trashIcon {
  width: 16px;
  height: 16px;
  color: var(--color-gray-400)
}

