.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--color-gray-250);
  border-radius: 20px;
  width: 100%;
  overflow: hidden;

  cursor: pointer;
}

.header {
  flex-shrink: 0;
  height: 66px;

  display: flex;
  align-items: start;
  justify-content: space-between;

  padding: 16px 16px 24px;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px
}

.body>p {
  font: var(--card-title-platform);
  color: var(--color-gray-900);
  overflow-wrap: anywhere;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.totalApplications {
  font: var(--inter-11-300);
  color: var(--color-gray-500);
}