.magicToggle {
  z-index: 15;
  position: relative;
  cursor: pointer;
  align-content: center;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.toggleTrack {
  width: 20px;
  height: 11px;
  background-color: var(--color-gray-200);
  border-radius: 5px;
  position: relative;
  transition: background-color 0.4s ease;
}

.toggleThumb {
  position: absolute;
  width: 14px;
  height: 14px;
  top: -2px;
  left: -2px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: var(--drop-down);
  transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1), background-color 0.4s ease;
}

.checked .toggleTrack {
  background-color: #858b98;
}

.checked .toggleThumb {
  transform: translateX(12px);
  background-color: var(--color-brand-black);
}

.star1 {
  z-index: 10;
  position: absolute;
  top: -10px;
  left: -1px;

  width: 10px;
  height: 10px;
  transition: all 0.7s ease;

  color: var(--color-gray-250)
}

.star2 {
  z-index: 10;
  position: absolute;
  top: -5px;
  right: 3px;

  width: 8px;
  height: 8px;
  transition: all 0.7s ease;

  color: var(--color-gray-250)
}

.checked .star1 {
  color: var(--green-radial-grad);
  transform: translateX(-11px) translateY(6px) scale(0.8);
}

.checked .star2 {
  color: var(--green-radial-grad);
  transform: translateX(-11px) translateY(-4px) scale(1.4);
}

.checked .star1 path,
.checked .star2 path {
  fill: url(#magicStarGradient);
}