.skeleton {
  --skeletonOpacity: 0.7;
  opacity: var(--skeletonOpacity);

  background-color: var(--color-gray-350);
  animation:
    blinking 1s cubic-bezier(0.8, 0.3, 0.3, 0.8) infinite alternate,
    fade-in 0.4s;

  &.filled {
    --skeletonOpacity: 1;

    background-color: var(--color-gray-200);
    animation:
      blinking-filled 1s cubic-bezier(0.8, 0.3, 0.3, 0.8) infinite alternate,
      fade-in 0.4s;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: var(--skeletonOpacity);
  }
}

@keyframes blinking {
  0% {
    background-color: color-mix(in srgb, var(--color-gray-350) 50%, transparent);
  }

  100% {
    background-color: color-mix(in srgb, var(--color-gray-350) 30%, transparent);
  }
}

@keyframes blinking-filled {
  0% {
    background-color: var(--color-gray-200);
  }

  100% {
    background-color: var(--color-gray-50);
  }
}
