.button {
  color: white;
  font: var(--inter-11-600);

  background-color: var(--color-brand-green);
  border-radius: 8px;

  padding: 8px 12px 9px 12px;
  transition: all 0.5s ease;

  display: flex;
  align-items: center;
  gap: 4px
}

.icon {
  transform: rotateY(180deg);
  fill: white;
}

.button:hover {
  background-color: var(--color-light-green);
}

.button:active {
  background-color: var(--color-dark-green);
}