.users {
  display: flex;
  height: 36px;
  align-items: center;
}

.avatar {
  &:not(:first-child) {
    margin-left: -18px;
  }

  &.remaining {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 50%;
    background-color: var(--color-white, #ffffff);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    font: var(--inter-11-300);
    color: var(--color-gray-500);

    border: 1px dashed var(--color-gray-250);
  }
}
