.users {
  display: flex;
  height: 36px;
}

.avatar {
	&:not(:first-child) {
		margin-left: -18px;
	}

  &.remaining {
    display: flex;
    align-items: center;
    justify-content: center;

    font: var(--inter-11-300);
    color: var(--color-gray-500);

    border-style: dashed;
    border-color: var(--color-gray-250);
  }
}
