.mainContainer {
  display: flex;
  gap: 12px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 16px;
  background-color: white;
  box-shadow: var(--card-drop-shadow);
  width: 100%;
  gap: 35px;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardFooter {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.count {
  font-family: var(--font-open-sans), serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--color-gray-600);
}

.label {
  position: relative;
  width: fit-content;
  font-family: var(--font-inter), serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: var(--color-gray-650);

  &.notification::after {
    content: '';

    position: absolute;
    top: -2px;
    right: -4px;
    translate: 100%;

    height: 8px;
    aspect-ratio: 1;

    border-radius: 50%;
    background-color: #0096ff;
  }
}

.snippet {
  font-family: var(--font-open-sans), serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: var(--color-gray-350);
}

.icon {
  width: 18px;
  height: 18px;
  color: var(--color-gray-600);
}

@media (max-width: 1280px) {
  .cardBody {
    padding: 16px;
  }
}

@media (max-width: 1024px) {
  .mainContainer {
    gap: 8px;
  }

  .cardBody {
    padding: 12px;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    gap: 6px;
  }

  .cardBody {
    padding: 14px;
    gap: 16px;
  }

  .icon {
    width: 13px;
    height: 13px;
  }

  .count {
    font-size: 17px;
  }

  .label {
    font-size: 12px;
    font-weight: 500;

    &.notification::after {
      height: 6px;
    }
  }

  .snippet {
    font-size: 9px;
  }
}
