.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardBody {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 3px
}

.cardTitle {
  font: var(--subhead-interface);
  color: var(--color-gray-750);
}

.occurrenceIndex {
  font: var(--field-title-small-interface);
  color: var(--color-gray-750);
}

.required {
  font: var(--subhead-interface);
  color: var(--color-red);
}

.inviteButton {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-brand-green);
  font: var(--label-interface);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.inviteButton svg {
  width: 16px;
  height: 16px;
}

.relativeBody {
  position: relative;
  width: 100%;
}

.moreMenuButton {
  cursor: pointer;
}

.moreMenuContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px
}

.editingBorder {
  border-color: var(--color-brand-violet) !important;
  z-index: 3;
}

.skillsLabel {
  font: var(--field-label-interface);
  color: var(--color-gray-500);
}

.skillsLabelEditing {
  color: var(--color-brand-violet);
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  font: var(--label-interface);
  color: var(--color-gray-500);
}

.body {
  position: relative;
  height: fit-content;

  grid-column: 1 / 10;
  display: flex;

  padding: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  border-radius: 16px;
  border: 1px solid var(--color-gray-250)
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 6px 6px 8px 8px;
  gap: 12px
}

.mainContainer h5 {
  font: var(--label-interface);
  color: var(--color-gray-500);
  flex-grow: 1;
}

.competenciesContainer {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.competency {
  display: flex;
  padding: 8px 12px;
  gap: 10px;
  background-color: var(--color-gray-100);
  border-radius: 8px;
  align-items: center;
  color: var(--color-gray-750);
  font: var(--OS-14-500);
}

.featContainer {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-right: 2px;
}

.featButton {
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.plusButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid var(--color-brand-green);
}

.plus {
  width: 12px;
  height: 12px;
  color: var(--color-brand-green)
}

.addLabel {
  font: var(--body-text-platform);
  color: var(--color-brand-green);
  align-content: center;
}

.editButton {
  padding-right: 8px;
}

.editIcon {
  width: 16px;
  height: 16px;
  color: var(--color-gray-400);
  flex-shrink: 0;
}

.editing {
  color: white;
  background-color: var(--color-brand-violet);
  border-color: var(--color-brand-violet);
}

.crossIcon {
  color: var(--color-gray-200);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: transparent;
}

.requestBlock {
  grid-column: 10 / 13;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 16px;
  padding: 10px;
  border: 1px solid var(--color-gray-250);
  border-radius: 16px;
  background-color: white;
}

.innerContainer {
  padding: 6px 6px 8px 8px;
  height: 100%;
  justify-content: space-between;
}

.fieldText {
  font: var(--field-label-interface);
  color: var(--color-gray-500);
}

.unpublishContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.inviteUserBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-brand-green);
  font: var(--inter-12-300);
}

.invitedInfo {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.invitedName {
  font: var(--inter-12-400);
  color: var(--color-gray-750);
}

.invitedName div {
  display: flex;
  gap: 2px
}

.invitedName span {
  color: var(--color-gray-500);
}

.cancelInviteBtn{
  font: var(--inter-12-300);
  color: var(--color-red);
}

.publishedBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.publishedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inviteIconOnly {
  color: var(--color-brand-green);
}

.allFeedback {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 12px;
  width: 100%;
  background-color: #0096FF;
  border-radius: 8px;
  color: white;
  font: var(--inter-12-400);
}

