.competency {
	display: flex;
	align-items: center;
	justify-content: center;

  font: var(--OS-12-400);

  padding: 2px 10px;
  border: 1px solid var(--color-gray-350);

  border-radius: 6px;

  color: var(--color-gray-750);
  background-color: var(--color-gray-50);

	cursor: pointer;
	user-select: none;
	
	z-index: 2;
	transition: color .2s, border-color .2s;

	&.active {
		font: var(--OS-12-500);
		
		color: var(--color-gray-900);
		border-color: var(--color-brand-violet);
	}
}