.headerWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;

}

.switchWrap {
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;

}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-brand-black);
  z-index: 2;
}

.wrap {
  position: relative;
  display: flex;
  height: 80px;
  min-height: 80px;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-brand-black);
  max-width: calc(1480px);
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1600px) {
  .wrap {
    padding-inline: 120px;
  }
}

@media (max-width: 1440px) {
  .wrap {
    padding-inline: 96px;
  }
}

@media (max-width: 1280px) {
  .wrap {
    padding-inline: 84px;
  }
}

@media (max-width: 1024px) {
  .wrap {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .wrap {
    padding: 0 24px;
  }

  .switchWrap {
    display: none;
  }
}
