.container {
  width: 100%;
  flex-grow: 1;
  min-height: 0;

  display: grid;

  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 48px 168px 132px 1fr;
  padding: 76px 20px 0;
  max-width: 1560px;
  overflow: auto;
  overflow-y: hidden;

  row-gap: 8px;

  --bgColor: var(--color-gray-50);
  --bannerColor: var(--color-gray-50);

  &.student {
    --bgColor: #dadef6;
    --bannerColor: var(--color-brand-violet);
  }

  &.curator {
    --bgColor: #e3f4d8;
    --bannerColor: #93d105;
  }

  &.moderator {
    --bgColor: #f1e9d8;
    --bannerColor: var(--color-yellow);
  }

  & * {
    z-index: 1;
  }
}

.background {
  width: 100vw;
  height: 338px;

  position: fixed;
  left: 0;
  top: 210px;

  will-change: transform;
  pointer-events: none;

  background-color: var(--bgColor);
  z-index: 0;

  &.fixed {
    top: 80px;
    height: 130px;
  }

  &.shaped {
    position: fixed;
    left: calc(max((100vw - 1560px) / 2, 0px) + 36px);
    top: 548px;
    translate: -32px -17px;

    width: 332px;
    height: 25px;

    background-color: var(--bgColor);
    clip-path: shape(
      from 0 0,
      hline to 100%,
      line to calc(100% + 7px) 17px,
      hline to calc(100% - 7px),
      curve to calc(100% - 14.5px) 19px with calc(100% - 12px) 17px / calc(100% - 13.5px) 18.25px,
      curve to calc(100% - 32px) 25px with calc(100% - 18.5px) 22px / calc(100% - 25px) 25px,
      hline to 32px,
      curve to 14.5px 19px with 25px 25px / 18.5px 22px,
      curve to 7px 17px with 13.5px 18.25px / 12px 17px,
      hline to -7px,
      close
    );
  }
}

.userRow {
  grid-column: 1;
  grid-row: 1;
  padding: 0 16px;
}

.switchContainer {
  padding: 0px 16px 2px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  grid-column: 3;
  grid-row: 1;

  & .roleSwitcher {
    align-self: center;
    background-color: var(--color-white);

    --activeTabBgColor: var(--bannerColor);
    --activeTabColor: var(--color-white);
  }
}

.titleContainer {
  display: flex;
  align-items: start;
  justify-content: start;

  padding-inline: 16px;

  grid-column: 2 / 3;
  grid-row: 1;
  width: 100%;
  min-width: 0;
}

.welcomeMessage {
  font: var(--hero-title-platform);
  color: var(--color-brand-black);
}

.content {
  grid-column: 2 / 4;
  grid-row: 2 / 5;

  display: grid;
  grid-template-rows: min-content min-content 1fr;
  row-gap: 12px;

  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px 18px 16px;

  grid-column: 1;
  grid-row: 2 / 5;

  overflow-y: auto;
}

.heroWrapper {
  display: contents;

  flex-direction: column;
  gap: 16px;
  padding: 24px;
  margin-inline: 16px;

  grid-row: 1 / 3;

  border-radius: 20px;
  background-color: var(--bannerColor);

  &.visible {
    display: flex;

    & .bannerContainer {
      display: contents;
    }

    & .banner {
      height: 116px;

      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
    }

    & .stagesWidget {
      padding: 0;
    }
  }
}

.bannerContainer {
  width: 100%;
  display: flex;
  height: 168px;
  padding: 0 16px;
}

.banner {
  width: 100%;
  height: 100%;

  background-color: var(--bannerColor);
  border-radius: 20px;
  box-shadow: var(--card-drop-shadow);
}

.stagesWidget {
  padding: 0 16px;
  height: fit-content;
}

.projects {
  grid-row: 3;
  min-width: 0;

  padding: 54px 16px 24px 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 20px;

  & .title {
    font: var(--section-title-interface);
  }
}

@media (max-width: 1024px) {
  .heroWrapper {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, min-content);
    row-gap: 8px;
    justify-items: stretch;
    overflow-y: auto;
    padding: 24px 0px 0px;
    width: 100%;
  }

  .background {
    top: 0;
    height: 694px;

    &.fixed,
    &.shaped {
      visibility: hidden;
    }
  }

  .content {
    display: contents;
  }

  .titleContainer,
  .userRow,
  .switchContainer,
  .bannerContainer,
  .stagesWidget,
  .activities,
  .projects {
    grid-column: 1;
    grid-row: auto;
    padding-inline: 20px;
  }

  .titleContainer {
    order: 1;
  }

  .userRow {
    order: 2;
    padding-top: 10px;
  }

  .switchContainer {
    order: 3;
    align-items: center;
    justify-content: stretch;
  }

  .roleSwitcher {
    flex-grow: 1;
  }

  .heroWrapper {
    grid-column: 1;
    grid-row: auto;
    order: 4;

    padding: 10px;
    margin-inline: 20px;
  }

  .bannerContainer {
    order: 4;
  }

  .stagesWidget {
    order: 5;
    padding-bottom: 10px;
  }

  .activities {
    order: 6;
  }

  .projects {
    order: 7;
    padding-top: 44px;
  }
}
