.container {
  width: 100%;
  flex-grow: 1;
  min-height: 0;

  display: grid;

  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 48px 168px 132px 1fr;

  column-gap: 32px;
  row-gap: 8px;

  &.student {
    --bgColor: #dadef6;
    --bannerColor: var(--color-brand-violet);
  }

  &.curator {
    --bgColor: color-mix(in srgb, #b2ff66 20%, transparent);
    --bannerColor: #93d105;
  }

  &.moderator {
    --bgColor: color-mix(in srgb, #ffbb33 15%, transparent);
    --bannerColor: var(--color-yellow);
  }

  & * {
    z-index: 1;
  }
}

.background {
  width: 100vw;
  height: 338px;

  position: fixed;
  left: 0;
  top: 210px;

  will-change: transform;
  pointer-events: none;

  background-color: var(--bgColor);
  z-index: 0;

  &.fixed {
    top: 80px;
    height: 130px;
  }

  &.shaped {
    position: fixed;
    left: calc(max(100vw - var(--max-container-width), 0) + var(--padding-inline));
    top: 548px;
    translate: -32px -17px;

    width: 364px;
    height: 25px;

    background-color: var(--bgColor);
    clip-path: shape(
      from 0 0,
      hline to 100%,
      line to calc(100% + 7px) 17px,
      hline to calc(100% - 7px),
      curve to calc(100% - 14.5px) 19px with calc(100% - 12px) 17px / calc(100% - 13.5px) 18.25px,
      curve to calc(100% - 32px) 25px with calc(100% - 18.5px) 22px / calc(100% - 25px) 25px,
      hline to 32px,
      curve to 14.5px 19px with 25px 25px / 18.5px 22px,
      curve to 7px 17px with 13.5px 18.25px / 12px 17px,
      hline to -7px,
      close
    );
  }
}

.userRow {
  grid-column: 1;
  grid-row: 1;
}

.roleSwitcher {
  align-self: center;

  grid-column: 3;
  grid-row: 1;
  background-color: var(--color-white);

  --activeTabBgColor: var(--bannerColor);
  --activeTabColor: var(--color-white);
}

.welcomeMessage {
  align-self: center;

  grid-column: 2 / 3;
  grid-row: 1;

  font: var(--hero-title-platform);
  color: var(--color-brand-black);

  width: 100%;
}

.content {
  grid-column: 2 / 4;
  grid-row: 2 / 5;

  display: grid;
  grid-template-rows: 168px 192px 1fr;
  row-gap: 12px;

  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 8px;

  grid-column: 1;
  grid-row: 2 / 5;

  overflow-y: auto;
}

.banner {
  background-color: var(--bannerColor);
  border-radius: 20px;
  box-shadow: var(--card-drop-shadow);
  min-width: 0;
}

.stagesWidget {
  grid-row: 2;
  min-width: 0;
}

.projects {
  grid-row: 3;
  min-width: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 20px;

  & .title {
    font: var(--section-title-interface);
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content 148px min-content min-content min-content;
    row-gap: 10px;
    justify-items: stretch;
    overflow-y: auto;
    width: 100%;
  }

  .content {
    display: contents;
  }

  .welcomeMessage {
    grid-column: 1;
    grid-row: 1;
  }

  .userRow {
    grid-column: 1;
    grid-row: 2;
  }

  .roleSwitcher {
    grid-column: 1;
    grid-row: 3;
  }

  .banner {
    grid-column: 1;
    grid-row: 4;
  }

  .stagesWidget {
    grid-column: 1;
    grid-row: 5;
  }

  .activities {
    grid-column: 1;
    grid-row: 6;
  }

  .projects {
    grid-column: 1;
    grid-row: 7;
  }
}
