.container {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.triggerWrapper {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid var(--color-gray-200);
  box-shadow: var(--tooltop-shadow);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-width: 240px;
  z-index: 20;
  padding: 16px;
  gap: 12px;
  justify-content: left;
}

.dropdownItem {
  text-align: left;
  display: flex;
  gap: 5px;
  align-items: center;
  font: var(--inter-12-500);
  color: var(--color-gray-600);
  cursor: pointer;
}

.dropdownItemActive {
  color: var(--color-brand-green);
}