.textContainer {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-gray-250);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.subTitle {
  text-align: left;
  width: 100%;
  font: var(--label-interface);
  color: var(--color-gray-500)
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 8px;
  justify-content: flex-start;
}

.textContainer textarea {
  border: none;
  overflow: hidden;
  resize: none;
  width: 100%;
  background-color: transparent;
  font: var(--body-text-platform);
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
  padding-top: 2px;

  min-height: 120px;

  &::-webkit-scrollbar {
    width: 0;
  }
}


.textContainer textarea:focus {
  outline: none;
  border-radius: 4px;
}

.textContainer p:nth-child(2) {
  font: var(--inter-12-400);
  text-align: end;
  padding-right: 8px;
}

.error {
  color: var(--color-red);
}

.valid {
  color: var(--color-gray-400);
}

.errorOutline {
  border-color: var(--color-red);
}

.validOutline {
  color: var(--color-gray-400);
}

.edit {
  border-color: var(--color-brand-violet);
}

.yellowBlinking {
  animation: var(--blink-yellow-animation);
}