.declinedBtn {
  font: var(--body-text-platform);
  color: var(--color-brand-violet);
  background: white;
  border: 1px solid var(--color-brand-violet);
  border-radius: 8px;
  padding: 8px 16px;
  cursor: default;
}

.inviteBtn {
  padding: 8px 10px;
  border-radius: 6px;
  background: var(--color-brand-green);
  color: white;
  font: var(--inter-12-300);
}

.inviteRejectedBtn {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid var(--color-brand-violet);
  background: white;
  color: var(--color-brand-violet);
  font: var(--inter-12-300);
  cursor: initial;
}

.alreadyInCommandBtn {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid var(--color-brand-green);
  background: white;
  color: var(--color-brand-green);
  font: var(--inter-12-300);
  cursor: initial;
}